@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

@page { size: A4 portrait; margin: 25.4mm; }

@page {
  @top-right {
    content: "TOMASINO/TUVOLO/" counter(page);
  }
}
@page :first {
  @top-right {
    content: "";
  }
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

table, figure {
  page-break-inside: avoid;
}

* {
  box-sizing: border-box;
}

.wordcount {
  position: absolute;
  line-height: 1.4em;
  top: 0;
  right: 0;
  text-align: right;
}

.author {
  position: absolute;
  line-height: 1.4em;
  top: 0;
  left: 0;
  text-align: left;
}

h1 {
  margin: 0;
  line-height: 1em;
}

h2, h3, h4, h5, h6 {
  margin-top: 2em;
  margin-bottom: 1em;
}

h2 {
  break-before: page;
}


p,
li {
  margin: 0;
}
a,
a:hover,
a:visited {
  color: #000;
}

hr {
  border: none;
  margin-bottom: 2em;
  color: currentColor;
  text-align: center;
}

.table-of-contents {
  break-after: page;
}

.table-of-contents ol {
  list-style-type: none;
  padding: 0;
}

@media print {
  h1, h2, h3, h4, h5 {
    font-size: 1em;
    padding: 0;
  }
  p {
    padding: 0;
  }
  h1 + p {
    line-height: 1.4em;
  }
  body {
    font-size: 12pt;
    line-height: 2em;
    font-family: "Times New Roman", "Times", serif;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    font-variant: historical-ligatures;
    font-feature-settings: "hlig" 1, "dlig" 1, "onum" 1, "zero" 1, "swsh" 1, "kern" 1, "medi" 1;
    hyphens: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  header {
    text-align: center;
    margin-top: 10cm;
    break-after: page;
  }

  h2 {
    margin-top: 8cm;
    margin-bottom: 1cm;
    text-align: center;
    text-transform: uppercase;
  }
  h2 + p,
  p + p {
    text-indent: 1.25cm;
  }
  hr::before {
    content: "#";
  }
  .table-of-contents a {
    display: block;
  }
  .table-of-contents a::after {
    content: leader(".") target-counter(attr(href), page); 
  }

  .category {
    position: absolute;
    line-height: 1.4em;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .last-page {
    page-break-inside: avoid;
    page-break-after: avoid;
    page-break-before: avoid;
    text-align: center;
    width: 100%;
    margin: 2cm 0 0 0;
  }
  .last-page:after {
    position: relative;
    content: "END";
  }

}

@media screen {
  body {
    position: relative;
    font-family: 'EB Garamond', serif;
    font-size: 16pt;
    font-weight: 450;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    max-width: 72ch;
    padding: 0 1ch;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  header {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p + p {
    text-indent: 2ch;
  }
  hr::before {
    content: "* * *";
    font-size: 1.25em;
    margin: 1em auto;
  }

  .table-of-contents {
    margin: 200px 0;
  }

  .table-of-contents p {
    font-size: 2rem;
  }

  .category {
    position: absolute;
    line-height: 1.4em;
    top: calc(100vh - 4ch);
    left: 0;
    width: 100%;
    text-align: center;
  }
}
